@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

@theme {
  --color-primary: #C1DCDC;
  --color-secondary: #1E1E1E;
  --color-secondary-75: #1E1E1EBF;
  --color-secondary-50: #1E1E1E80;
  --text-3.5xl: 2rem;
  --radius-10xl: 12.5rem;
}
